<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>

    <body>
        <h1>About</h1>
        <ul>
            <li><a href="/">Homepage</a></li>
        </ul>

    </body>

</html>