<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

  <body>
    <h1>HomePage</h1>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/create">Create</a></li>
    </ul>
    <% if(blog.length> 0){ %>
      <% blog.forEach(blog=>{%>
        <a href="/blogs/<%= blog._id %>" class="blog">
          <h3 class="title">
            <%=blog.title%>
          </h3>
          <p class="snippet">
            <%=blog.snippet%>
          </p>
        </a>
        <% }) %>
          <% } %>

  </body>

</html>